@charset "utf-8";
input[type="submit"]{
    -webkit-appearance:none;
    appearance:none;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Sawarabi Gothic";
    letter-spacing:3.5px;
}

.errors{
    max-width:800px;
    background: var(--danger);
    color:#fff;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.container{
    max-width:1000px;
    margin:0 auto;
    padding:1.5rem 0;
}

.textarea{
    width: 100%;
    border-radius:5px;
    margin:0 auto;
    display: block;
}

p{
    margin: 0;
}

a{
    text-decoration:none;
}

a:hover{
    color:#777;
    transition:all .2s;
}

a.menu-item:hover {
    font-size:1.1rem;
    transition:all .2s;
}

.pinch{
    color:var(--danger);
}

.pinch::after{
    content:"残り僅か";
    padding: 1px 4px;
    margin-left: 5px;
    background: var(--danger);
    color:#fff;
    font-size:.8rem;
    border-radius:3px;
}
.out{
    color:#999;
}

.out::after{
    content:"予算オーバー";
    padding: 1px 4px;
    margin-left: 5px;
    background: #888;
    color:#fff;
    font-size:.8rem;
    border-radius:3px;
}

:root{
    --main-color:linear-gradient(to right, #d8aeff, #c9fcff);
    --base-color:linear-gradient(to bottom, #e5e5e5, #ffffff);
    --submit:#51a4ed;
    --danger:#BF0404;
    --edit: #d549ff;
    --share:#61bb62;
    --fixed-cost:#e3db66;
    --font:#0D0D0D;
}

.center{
    text-align: center;
}

/* ログイン サインアップ */
.form{
    width: 30%;
    padding:4rem 3rem;
    background: var(--base-color);
    border-radius:10px;
    margin:1.5rem auto;
    box-shadow:2px 2px 5px #ccc;
}
@media screen and (max-width:540px){
    .form{
        width: 70%;
        margin-top: 1rem;
        padding-top: 2rem;
    }

    .greet{
        font-size:.7rem;
    }

    .regist-complete-greet {
        font-size:.8rem;
        max-width:300px;
        margin:0 auto;
    }
}

.logo{
    display:block;
    margin: 0 auto;
    width:80%;
}

.remember-form-group{
    display: flex;
    font-size:.8rem;
    justify-content: center;
    align-items: center;
}

.remember-form-group .form-control{
    width: fit-content;
}

.form-group{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    width: 100%;
    margin:1rem auto;
}

.form-control{
    width: 100%;
    border-radius:5px;
    border:1px solid #777;
    height:2.5rem;
    font-size: 1.3rem;
    margin: 0 auto;
}

.form-control.submit{
    font-size:1.2rem;
    height: fit-content;
}

.month-form{
    width: 3rem;
    margin-right: .5rem;
}

.submit{
    background: var(--submit);
    color:#fff;
    width: 100%;
    margin: 2rem auto;
    display: block;
    height:1.5rem;
    text-align: center;
    cursor:pointer;
    border:none;
}

.small{
    color:#333;
    font-size: 0.7rem;
    text-align: center;
    display:block;
}

.center-title{
    text-align: center;
    width: 90%;
    margin:0 auto ;
    word-break:break-word;
}

@media screen and (max-width:540px){
    .center-title{
        font-size:1.2rem;
    }

    .form-control {
        width: 70vw;
    }
}

/* header */
header{
    background: var(--main-color);
    color:#333;
}

#nav-icon{
    margin-left: auto;
    margin-right: 10%;
    display:none;
    width: fit-content;
    font-size:2rem;
}

.greet{
    text-align: right;
    margin-right:2rem;
    font-size:1.2rem;
    color:var(--font);
}

.nav{
    display:block;
    margin-left: auto;
    margin-right: 2rem;
    font-size:.9rem;
}

.header-logo{
    display:block;
    max-width: 200px;
    width: fit-content;
    height: auto;
    margin:0 auto;
    padding: 1rem 0;
}

.menu{
    display:flex;
    column-gap:2rem;
    width: fit-content;
    margin:3rem auto;
    padding: 1rem;
}

.menu-item{
    display:block;
    width: fit-content;
    color:#333;
}

@media screen and (max-width:540px){
    .menu-item{
        font-size:1rem;
        color: #fff;
    }

    .logout {
        color:#333;
    }

    .greet{
        font-size:.6rem;
    }

    #nav-icon{
        display: block;
    }

    #nav-menu{
        display:block;
        width: fit-content;
        height: 100%;
        position:fixed;
        background: #333;
        top: 0;
        left: 0;
        margin: 0;
        padding-top: 5rem;
        line-height:2;
    }

    .slideOut{
        transform:translateX(-100%);
        transition:all 1.5s ease;
    }

    .slideIn{
        transform:translateX(0%);
        transition:all 1.5s ease;
    }

    .alert{
        font-size:.6rem;
    }
}
/* home */
.empty-alert {
    font-size:1rem;
    text-align: center;
}

.index-budget{
    display:flex;
    justify-content: space-between;
    column-gap:2rem;
    font-size:1.6rem;
    border-radius:5px;
    background: #fff;
    padding:1rem 2rem;
    margin:1rem auto;
    width: 70%;
    box-shadow:3px 3px 5px 5px #999;

}

.budget-title{
    width:70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
}

.budget-title>small{
    font-size:.6rem;
}

.budget{
    color:var(--font);
}

.delete{
    display: block;
    margin:0 auto;
    font-size:1rem;
    width: fit-content;
    cursor:pointer;
    color: var(--danger);
    border:none;
    background: none;
}

.delete:hover{
    filter:brightness(120%);
}

.edit{
    white-space: nowrap;
    margin:0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    width: fit-content;
    height: 30px;
    color: var(--edit);
    font-size:1rem;
    border:none;
    background: none;
    cursor:pointer;
}

.edit:hover{
    filter:brightness(120%);
}

.budget-btns{
    display: flex;
    gap:3px;
    align-items: center;
    font-size:.7rem;
}

@media screen and (max-width:540px){

    .index-budget{
        font-size:.8rem;
    }

    .empty-alert {
        font-size:.8rem;
        text-align: center;
    }
}

/* show */
.expense-form{
    width: 80%;
    margin: 0 auto;
}
#expense-edit{
    border-radius:10px;
    background: #fff;
    width: 60%;
    padding:1rem 2rem;
    margin: 2rem auto;
    z-index:99;
}

.budget-show-title > .center-title > span{
    padding:.3rem .2rem;
    background: rgb(255, 196, 250);
    border-radius:5px;
    font-size:.7rem;
}

.expense-table{
    width: 95%;
    overflow:auto;
    margin:0 auto;
}

.use-header {
    width: 40%;
}

.expenses-header {
    width: 20%;
}

.create-date-header {
    width: 20%;
}

.delete-header {
    width: 10%;
}

.edit-header {
    width: 10%;
}




/*残額*/
.remaining{
    text-align: center;
    font-size:1.5em;
}

.report-btn{
    display: block;
    max-width:20rem;
    width: 18rem;
    height: 2rem;
    margin: 1rem auto;
    background: var(--main-color);
    color:#333;
    font-weight:bold;
    letter-spacing:2px;
    border:none;
    border-radius:5px;
    box-shadow:2px 2px 0 var(--font);
    cursor:pointer;
}

.report-btn:hover{
    box-shadow:.5px .5px 0 var(--font);
    transition:box-shadow .25s ease;
}

/* expense */
table{
    width: 80%;
    margin:2rem auto;
    border-collapse: collapse;
}

th,td{
    border:1px solid #ccc;
    padding: 4px 4px;
}

th{
    border-bottom:3px solid var(--main-color);
    background: var(--submit);
    color:#fff;
}

td{
    background: #fff;
}

@media screen and (max-width:540px){
    table{
        width: 95%;
        font-size:.7rem;
    }
}

/* month */
.month{
    font-size:2rem;
    width: fit-content;
    padding:5px 1rem;
    background: #fff;
    border-radius: 5px;
    background: var(--main-color);
    color:var(--font);
    text-align: center;
    display:block;
    margin:2rem auto;
}
.monthCnt {
    display: inline-block;
    color:red;
    font-size:14px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.tasks{
    max-width:800px;
    width: 100%;
    margin: 0 auto;
    margin-bottom:5rem;
}

.tasks-index{
    width: 80%;
    margin: 0 auto;
    font-size:1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom:2px solid #999;
    padding:1rem 2rem;
}

.tasks-index > p{
    max-width: 30%;
}

.tasks-index>p:first-child{
    width: 60%;
}

.task{
    display: flex;
    align-items: center;
}

.check{
    font-size:1.5rem;
    color:#333;
    border:none;
    padding:.5rem;
    border-radius:5px;
    cursor:pointer;
    background: transparent;
}

#tasks-form{
    display:none;
    width:60%;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:10px;
    background: #ccc;
    padding:3rem;
    z-index:99;
}

.filter{
    width: 100vw;
    height: 100vh;
    background: #333;
    opacity:.7;
    display: none;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#tasks-form>form > .form-group{
    display: flex;
    column-gap:1rem;
}

#task-icon{
    font-size:3rem;
    position:fixed;
    bottom: 5rem;
    right: 5rem;
    color: rgb(19, 128, 19);
    cursor:pointer;
}

.check:hover{
    color:#38ac68;
}

.no-check{
    font-size:1.5rem;
    border:none;
    padding:.5rem;
    border-radius:5px;
    cursor:pointer;
    background: transparent;
    color:#38ac68;
}

@media screen and (max-width:540px){
    #task-icon{
        bottom: 3rem;
        right: 3rem;
        width: 50px;
        height: 50px;
        font-size:2rem;
        background: none;
        border-radius:5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.task-mini-form{
    display: flex;
    column-gap:2rem;
}

.task-mini-form > .form-group > label{
    max-width: 10rem;
    white-space:nowrap;
}

.task-mini-form > .form-group{
    display: flex;
    flex-direction: row;
    column-gap:.3rem;
}
.task-mini-form > .form-group >div{
    display: flex;
    column-gap:.3rem;
}

.list-title{
    position:relative;
    width: fit-content;
    margin:0 auto;
}

.mt-3{
    margin-top: 3rem;
}

.list-title::after{
    content:"";
    width: 20vw;
    height: 2px;
    background: #454545;
    position:absolute;
    top:calc(50% - 1px);
    right:-22vw;
}
.list-title::before{
    content:"";
    width: 20vw;
    height: 2px;
    background: #454545;
    position:absolute;
    top:calc(50% - 1px);
    left:-22vw;
}

@media screen and (max-width: 767px) {
    .tasks-index{
        width: 90%;
        overflow:auto;
        font-size:.8rem;
        padding: 0;
    }

    .task-mini-form{
        flex-direction: column;
    }
    
    .task-mini-form > .form-group > label{
        width: 3rem;
    }
    
    .task-mini-form > .form-group{
        display: flex;
        flex-direction: column;
    }

    .task-mini-form > .form-group > div{
        display: flex;
    }
}

.share-btn {
    color:var(--share);
}

.fixed-cost-btn {
    color: var(--fixed-cost);
}

.budget-edit-btn {
    color: var(--edit);
}